#undo {
      position: fixed;
      display: block;
      right: 0;
      bottom: 500px;
      margin-right: 150px;
      margin-bottom: 40px;
      z-index: 900;
    }
	
	body{
		background-image: url('../img/background2.jpeg');
		background-size: 100% 100%;
	}
	
	#user-icon{
		height :25px;
		width:25px;
		padding-top:10px;
		padding-right:10px;
		padding-left:10px;
		position:relative;
		top:-8px;
		
	}
	
	.user-profile{
		right:35px;
		position:fixed;
	
	
	}
	
	#contact-us-button{
		position: fixed;
		display: block;
		left: -45px;
		bottom: 10px;
		border-radius: 12px;
		margin-right: 10px;
		transform: rotate(90deg);
		margin-bottom: 40px;
		z-index: 900;	
	
	}
	
	#view-all-trips-button{
		position: fixed;
		display: block;
		left: -98px;
		bottom: 310px;
		border-radius: 12px;
		margin-right: 10px;
		transform: rotate(90deg);
		margin-bottom: 40px;
		z-index: 900;
		
	
	}
	
	#home-page-button{
		position: fixed;
		display: block;
		left: -40px;
		bottom: 490px;
		border-radius: 12px;
		margin-right: 10px;
		transform: rotate(90deg);
		margin-bottom: 40px;
		z-index: 900;
	
	}
	
	#about-us-button{
		position: fixed;
		display: block;
		left: -35px;
		bottom: 135px;
		border-radius: 12px;
		margin-right: 10px;
		transform: rotate(90deg);
		margin-bottom: 40px;
		z-index: 900;
	
	}
	
	.country{
		top:80px;
		position:relative;
	
	
	}
	
	.departure{
		top:65px;
		position:relative;
	
	
	}
	
	.select-date{
		top:80px;
		right:105px;
		position:relative;
	
	
	}
	
	.time{
		width: 170px;
		top:44px;
		left:810px;
		position:relative;
	}
	
	#schedule {
      position: fixed;
      display: block;
	  left: 700px;
      top: 670px;
      margin-right: 150px;
      margin-bottom: 40px;
      z-index: 900;
    }
	
	#logo{
		position:relative;
		width:180px;
		height:90px;
		right:78px;
		top:18px;
	
	}


	